/*
 font-family: 'Montserrat', sans-serif;

font-family: 'Open Sans', sans-serif; 
*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
h1{
    color: rgb(32, 79, 135);
    font-weight: 600;
    padding: 1% 0;
    margin: 0;
}

section span{
    display: inline-block;
    width: 0;
    height: 7px;
    background: #f2622c;
    transition: 0.6s all ease-in-out;
}

/*==================================== header start ====================================*/
header{
    margin: 10px 0;
}
.navbar-light .navbar-nav .nav-link {
    color: #204f87;
}
/*.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {*/
    /*color: #204f87;*/
/*}*/
.main-menu ul li a{
    font-size: 16px;
    font-weight: 500;
    position: relative;
    display: block;
    padding: 4px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}
.main-menu ul li a:after{
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: #f2622c;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}
.main-menu ul li a:hover{
    color: #f2622c;
}
.main-menu ul li a:hover:after{
    transform: scaleX(1);
    transform-origin: left;
}

/*================================= header end ========================*/


/*================================= banner start ============================*/
.header_banner{
    background-image: url(../img/banner.png);
    min-height: 75vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
}
.header_banner h1{
    font-size: 58px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    margin: auto;
}
.down-icon{
    position: absolute;
    left: 50%;
    font-size: 20px;
    color: #fff;
    top: 85%;
    transform: translate(-50%);
    animation: down-arrow 1s linear infinite;
    animation-direction: alternate;
}

@keyframes down-arrow{
    0%{
        top: 85%;
    }
    100%{
        top: 90%;
    }
}
/*========================== banner end =================================*/


/*========================= who we are start =================================*/

.who_we_are{
    padding-top: 8%;
    padding-bottom: 10%;
}

.who_we_are .left p{
    color: #b0b0b1;
    font-size: 16px;
    padding-top: 3%;
}
.who_we_are:hover .left_heading span{
    width: 86px;
}
/*========================= who we are end =================================*/


/*========================= who we do start =================================*/

.what_we_do{
    background-color: #f7f8f8;
    background-image: url(../img/what_we_do_banner.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 65%;
    padding-top: 2%;
}
.what_we_do .middle_heading{
   padding-bottom: 5%;
}
.what_we_do:hover .middle_heading span{
    width: 86px;
}

.what_we_do .image{
    position: relative;
}

.what_we_do .image::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    background: rgb(51,51,153);
    background: linear-gradient(0deg, rgba(51,51,153,1) 0%, rgba(56,10,10,0) 100%, rgba(0,212,255,1) 100%);
    transition: 0.6s all ease-in-out;
}

.what_we_do .image:hover::before{
    height: 100%;
}

.what_we_do .image h3{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f7f8f8;
    text-align: center;
    min-width: 40vh;
    opacity: 0;
    transition: 0.6s all ease-in-out;
    font-size: 19pt;
    font-weight: 600;
}
.what_we_do .image i{
    position: absolute;
    top: 72%;
    left: 45%;
    transform: translate(-50%);
    color: #f7f8f7;
    font-size: 45px;
    opacity: 0;
    transition: 0.6s all ease-in-out;
}

.what_we_do .image:hover h3{
    opacity: 1;
    top: 50%;
}
.what_we_do .image:hover i{
    opacity: 1;
    left: 50%;
}
/*========================= who we do end =================================*/

/*========================= our attorneys start =================================*/

.our_att{
    padding: 10% 0;
    background-image: url(../img/our_att_banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.our_att:hover span{
    width: 86px;
}
.our_att .left_heading h1{
    color: #ffffff;
}

.our_att .left_heading p{
    color: #929DCF;
}
.our_att h6 a{
    color: #f2622c;
    text-decoration: none;
}
.our_att_img{
    position: relative;
    margin-bottom: 24px;
}
.our_att_img::before{
    position: absolute;
    content: '';
    bottom: 0;
    width: 100%;
    height: 0;
    background: rgb(51,51,102);
    background: linear-gradient(0deg, rgba(51,51,102,1) 0%, rgba(56,10,10,0) 100%, rgba(0,212,255,1) 100%);
    transition: 0.6s all ease-in-out;
}

.our_att_img:hover::before{
    height: 100%;
}

.our_att_img h3{
    position: absolute;
    top: 85%;
    left: 55%;
    transform: translate(-79%, -50%);
    color: #ffffff;
    min-width: 30vh;
    opacity: 0;
    transition: 0.6s all ease-in-out;
}
.our_att_img:hover h3{
    opacity: 1;
    top: 82%;
}
/*========================= our attorneys end =================================*/




/*========================= the languages start =================================*/
.language:hover .middle_heading span{
    width: 86px;
}
.language .lang h3{
    color: #204f87;
}
.lang p{
    color: #b0b0b1;
    padding-top: 3%;
}
.lang h6 a{
    color: #f2622c;
    margin-top: 10%;
    text-decoration: none;
}
/*========================= the languages end =================================*/
/*========================= contact us start =================================*/

.contact{
    background-color: #28377E;
    padding: 4% 0;
}
.contact:hover .middle_heading span{
    width: 86px;
}
.contact .middle_heading h1{
    color: #ffffff;
}

.contact form{
    text-align: center;
}
.contact form input{
    background-color: #28377E;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid gray;
}
.contact form textarea{
    background-color: #28377E;
    border: none;
    border-bottom: 1px solid gray;
    margin-bottom: 30px;
}
.contact form input:focus{
    background-color: #28377E;
    border: none;
    border-bottom: 1px solid gray;
    color: #ffffff;
}

.contact form textarea:focus{
    background-color: #28377E;
    border: none;
    border-bottom: 1px solid gray;
    color: #ffffff;
}
.form-control::placeholder {
    color: #ffffff;
}
.contact form input[type="submit"]{
    background-color: #f2622c;
    color: #ffffff;
    padding: 10px 50px;
    border: 1px solid #f2622c;
    transition: .4s all ease-in-out;
}
.contact form input[type="submit"]:hover{
    background-color: #28377E;
    color: #ffffff;
    border: 1px solid #f2622c;
    padding: 10px 50px;

}


/*========================= contact us end =================================*/


/*========================= footer start =================================*/
footer{
    background-color: #0C1234;
    padding: 2% 0;
}
footer p{
    color: #929dcf;
    font-size: 10pt;
    margin: 0;
}
footer i{
    color: #b1b7dd;
    margin-left: 8%;
    cursor: pointer;
}

.footer_icon{
    text-align: end;
}
/*========================= footer end =================================*/




/*---------------------------- media queries -----------------------------*/
@media (max-device-width : 764px){
    /*======================== menu ===================================*/
    .main-menu ul li{
        margin: auto;
        width: max-content;
    }
    /*========================= banner start =================================*/
    .header_banner h1{
        font-size: 40px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        margin: auto;
        text-align: center;
    }
    /*========================= who we are start =================================*/
    .who_we_are{
        text-align: center;
    }

    /*========================= who we do start =================================*/

    .what_we_do .image{
        margin-bottom: 12px;
    }
    .what_we_do{
        background-image: none;
    }

    /*========================= our attorneys start =================================*/
    .our_att{
       text-align: center;
    }
    .our_att h6{
        margin-bottom: 20px;
    }
    /*========================= the languages start =================================*/
    .language{
        text-align: center;
    }
    .lang h6{
        margin-bottom: 10%;
    }

    /*========================= footer start =================================*/
    footer{
       text-align: center;
    }
    .footer_icon{
        text-align: center;
        margin-top: 10px;
    }

}
